@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

header p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
}

.section2ha p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 400px;
}

#suscribete .sectionform h2 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
}

.section2ha {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  justify-content: space-around;
  border: solid 2px black;
  align-items: center;
}
.section2ha p {
  margin: 5px;
}
.section2ha h1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 18px;
  text-align: center;
}
.section2ha .section2ha-ph p {
  margin: 0 auto;
  font-size: 14px;
  color: black;
}

header {
  background-color: grey;
  background-image: linear-gradient(to right, rgb(179, 138, 62), rgb(43, 30, 7));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header h1 {
  font-family: "Titan One", cursive;
  color: white;
}
header p {
  padding-top: 15px;
}
header h1:hover {
  transform: scale(1.5);
  filter: blur(2px);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
}
footer i {
  font-size: 30px;
  margin: 5px;
}
footer i:hover {
  transform: scale(1.2);
}
footer h1:hover::before {
  content: "Disfruta la revista de ";
}

#index {
  background-color: #474747;
  background-image: linear-gradient(to left, rgb(179, 138, 62), #474747);
}
#index .section1 li {
  font-size: 18px;
  font-weight: bold;
  margin: 0.6;
}
#index .carousel-inner img {
  height: 750px;
  width: 100vw;
}
#index .carousel-inner {
  height: 750px;
}
#index .carousel-inner h5 {
  color: black;
}
#index .carousel-inner p {
  color: black;
}
#index .section3 h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: black;
}
#index .list-group-item {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#index .section4 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}
#index .card img {
  max-height: 170px;
}

@media (max-width: 760px) {
  .navbar-brand {
    display: none;
  }
  .header p {
    display: none;
  }
  .carousel-inner img {
    max-height: 300px;
    width: 100%;
  }
  .card img {
    max-height: 100px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #index .carousel-inner {
    height: 350px;
  }
  .navbar-brand {
    display: none;
  }
  .header p {
    display: none;
  }
  .carousel-inner img {
    max-height: 300px;
    width: 100%;
  }
  .card img {
    max-height: 300px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.section2h {
  background-color: lightgray;
}

@media (max-width: 480px) {
  .section2ha {
    flex-direction: column;
    border: none;
  }
  .section2ha p {
    font-size: 15px;
  }
}
.quienessomos1 {
  width: 800px;
  margin: 23px auto;
}

.quienessomos1 ul {
  list-style: none;
}

.quienessomos1 a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 1.5px;
  border: solid 1px black;
}

.quienessomos a:hover {
  background-color: gray;
}

#suscribete {
  background-image: linear-gradient(to left, rgb(179, 138, 62), #474747);
  text-align: center;
  font-weight: bold;
}
.form-label {
  color: black;
}

.terminoscheck a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 1.5px;
  border: solid 1px black;
}

.terminoscheck a:hover {
  background-color: gray;
}

.privacidad {
  width: 850px;
  color: black;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 19px;
}

/*# sourceMappingURL=style.css.map */
