%estilosParrafo{
    text-align: center;
    font-family: $Roboto;
    font-size: 25px;
    color: white;
}

%estilosTitulo{
    font-size: 15px;
    font-family: serif;
}

%estilosFlexRow{
    display: flex;
}

%estilosFlexColumn{
    display: flex;
    flex-direction: column;
}

//mixin

