%estilosParrafo{
    text-align: center;
    font-family: $Roboto;
    font-size: 25px;
    color: white;
}

%estilosTitulo{
    font-size: 50px;
    font-family: $Roboto;
    color: black;
}

%estilosFlexRow{
    display: flex;
}

%estilosFlexColumn{
    display: flex;
    flex-direction: column;
}



