%estilosParrafo{
    text-align: center;
    font-family: $Roboto;
    font-size: 25px;
    color: white;
}

%estilosParrafohogar{
    text-align: justify;
    font-family: $Roboto;
    font-size: 12px;
    width: 400px;
}

%estilosTitulo{
    font-size: 50px;
    font-family: $Roboto;
    color: black;
    font-weight: bold;
}

%estilosdivhogar{
        display: flex;
        margin: 10px;
        padding: 5px;
        justify-content: space-around;
        border: solid 2px black;
        align-items: center;
        p{
            @extend %estilosParrafohogar;
            margin: 5px;
        }
        h1{
            font-size: 20px;
            font-family: $Roboto;
            margin: 5px;
            text-align: center;
        }
        .section2ha-ph p{
            margin: 0 auto;
        }
}



