footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    i{
        font-size: 30px;
        margin: 5px;
    }
    i:hover{
        transform:  scale(1.2);
        transition: all 0.5s ease-in-out;
    }
}