header{
    background-color: $colorFondo;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1{
        font-family: $TitanOne;
        color: white;
    }
    p{
        @extend %estilosParrafo;
    }
}