header{
    background-color: $colorFondo;
    background-image: linear-gradient(to top, rgb(179, 138, 62), rgb(43, 30, 7));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    h1{
        font-family: $TitanOne;
        color: white;
    }
    p{
        @extend %estilosParrafo;
    }
    h1:hover{
        transform:  scale(1.5);
        filter: blur(2px);
    }
}