.section2h{
    background-color: beige;
}

.section2ha{
    @extend %estilosdivhogar
}

@media (max-width:480px){

    .section2ha{
        flex-direction: column;
        border: none;
        p{
            font-size: 16px;
        }
    
    }
}


        
        

        