#index{
    background-color:#474747;
    background-image: linear-gradient(to left, rgb(179, 138, 62), #474747);
    .section1 li {
        font-size: 18px;
        font-weight: bold;
        margin: .6; 
    }

    .carousel-inner img{
        height: 750px;
        width: 100vw;
    }
    .carousel-inner{
        height: 750px;
        h5{
            color: black;
        }
        p{
            color: black;
        }
    }
    .section3 h3{
        font-family:$Roboto;
        text-align: center;
        color: black;
        }
    .list-group-item{
            text-align: center;
            font-size: 18px;
            font-weight: bold;
    }

    .section4{
        font-family:$Roboto;
        text-align: center;
        padding-bottom: 30px;
    }

    .card img{
        max-height: 170px;
    } 
}

@media (max-width:760px){

        .navbar-brand{
            display: none;
        }

        .header p{
            display: none;
        }

        .carousel-inner img{
            max-height: 300px;
            width: 100%;
        }

        .card img{
            max-height: 100px;
        } 

        .footer{
            display: flex;
            flex-direction: column;
        }
}

@media (max-width:480px){

    .navbar-brand{
        display: none;
    }

    .header p{
        display: none;
    }

    .carousel-inner img{
        max-height: 300px;
        width: 100%;
    }

    .card img{
        max-height: 100px;
    } 

    .footer{
        display: flex;
        flex-direction: column;
    }
}