main{
    background-color: $colorFondo;
    

    h1{
        font-family: $TitanOne;
        color: white;
    }
    .seccion1{
        width: $parrafoChico;
        p{
            @extend %estilosParrafo;
        }
    }
}

//condicionales

$saludo: 51;

h2{
   @if($saludo < 50){
    color: white;
    font-size: 35px;
   } @else{
    color: yellow;
    background-color: black;
   }
}




