
.quienessomos1 {
    width: 800px;
    margin: 23px auto;
  }

.quienessomos1 ul{
        list-style: none;
}

.quienessomos1 a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 1.5px;
    border: solid 1px black;
}
.quienessomos a:hover{
    background-color: gray;
}