#suscribete{
    background-image: linear-gradient(to left, rgb(179, 138, 62), #474747);
    text-align: center;
    font-weight: bold;
    .sectionform h2{
       @extend %estilosTitulo;
    }
    
}
.form-label{
    color: black;
}

.terminoscheck a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 1.5px;
    border: solid 1px black;
}

.terminoscheck a:hover{
    background-color: gray;
}

  
